<h1>My Lists</h1><br>
<% if flash[:notice] %>
    <%= flash[:notice] %><br>
<% end %>
<a href="/add_task">+Add Task List</a>

<% @task_lists.each do |task_list| %>

    <section class="task-list">
      <h1><a href="/task_list/<%= task_list.id%>"><%= task_list.name %></a></h1><a href="/edit/<%= task_list.id %>">Edit</a>

      <p>Tasks:</p>
      <% task_list.tasks.order(:datetime).each do |task| %>
          <p><%= task.name %></p>

          <%= link_to "/task/delete/#{task.id}", method: :delete, data: {confirm: 'Are you sure?'} do %>
              <span type="button">Delete</span>
              <%end%>
          <% end %>
            <br>
          <a href="/task/new/<%= task_list.id %>">Add Task</a>
          </section>

      <% end %>
